<div class="flex justify-center items-center h-full">
    <div class="inline-block border-2 rounded-lg text-center border-[#01A85A] drop-shadow-md bg-blanco transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer m-4 select-none"
        (click)="goToAgregarTienda()">
        <div class="p-2 font-bold">
            <h4 class="card-title">Agregar Tienda</h4>
        </div>
        <div class="inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#01A85A"
                style="width: 72px; height: 72px;">
                <path
                    d="M15.5 12H12m0 0H8.5m3.5.0V8.5m0 3.5v3.5M3 9.4c0-2.24.0-3.36.436-4.216a4 4 0 011.748-1.748C6.04 3 7.16 3 9.4 3h5.2c2.24.0 3.36.0 4.216.436a4 4 0 011.748 1.748C21 6.04 21 7.16 21 9.4v5.2c0 2.24.0 3.36-.436 4.216a4 4 0 01-1.748 1.748C17.96 21 16.84 21 14.6 21H9.4c-2.24.0-3.36.0-4.216-.436a4 4 0 01-1.748-1.748C3 17.96 3 16.84 3 14.6z" />
            </svg>
        </div>
    </div>
    <div class="inline-block border-2 rounded-lg text-center border-[#01A85A] drop-shadow-md bg-blanco transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer m-4 select-none"
        (click)="goToEliminarTienda()">
        <div class="p-2 font-bold">
            <h4 class="card-title">Eliminar Tienda</h4>
        </div>
        <div class="inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#01A85A"
                style="width: 72px; height: 72px;">
                <path
                    d="m18 9-.84 8.398c-.127 1.273-.19 1.909-.48 2.39a2.5 2.5 0 0 1-1.075.973C15.098 21 14.46 21 13.18 21h-2.36c-1.279 0-1.918 0-2.425-.24a2.5 2.5 0 0 1-1.076-.973c-.288-.48-.352-1.116-.48-2.389L6 9m7.5 6.5v-5m-3 5v-5m-6-4h4.615m0 0 .386-2.672c.112-.486.516-.828.98-.828h3.038c.464 0 .867.342.98.828l.386 2.672m-5.77 0h5.77m0 0H19.5" />
            </svg>
        </div>
    </div>
    <div class="inline-block border-2 rounded-lg text-center border-[#01A85A] drop-shadow-md bg-blanco transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer m-4 select-none"
        (click)="goToActualizarTienda()">
        <div class="p-2 font-bold">
            <h4 class="card-title">Actualizar Tienda</h4>
        </div>
        <div class="inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke="#01A85A"
                style="width: 72px; height: 72px;">
                <path
                    d="M4 21h16M5.666 13.187A2.278 2.278 0 0 0 5 14.797V18h3.223c.604 0 1.183-.24 1.61-.668l9.5-9.505a2.278 2.278 0 0 0 0-3.22l-.938-.94a2.277 2.277 0 0 0-3.222.001z" />
            </svg>
        </div>
    </div>
</div>