<div class="flex flex-col justify-center p-[64px] gap-[32px] items-center">
    <div class="flex items-center justify-start w-full space-x-4">
        <div class="cursor-pointer rounded hover:bg-selectedItem" (click)="volverPagina()">
            <svg class="w-[40px] h-[40px] text-gray-800 dark:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m15 19-7-7 7-7" />
            </svg>
        </div>
        <h1 class="text-[40px] tracking-[10px] uppercase">Pedido</h1>
    </div>
    <hr class="w-full border-1 border-green-200" />
    <div class="flex justify-between items-center self-stretch">
        <!-- lista productos -->
        <div class="flex w-[507px] py-[50px] px-[10px] flex-col items-center gap-[10px] self-stretch">
            <!-- header -->
            <div class="flex pt-0 px-[10px] pb-[13px] justify-between items-center self-stretch">
                <!-- cell -->
                <div class="flex w-[130px] justify-center items-start gap-[10px]">
                    <p class="capitalize font-semibold text-center text-[32px]">Gramaje</p>
                </div>
                <div class="flex w-[130px] justify-center items-start gap-[10px]">
                    <p class="capitalize font-semibold text-center text-[32px]">Cantidad</p>
                </div>
            </div>
            <!-- body -->
            <div class="flex flex-col divide-y divide-gray-200 py-[12px] px-0 items-center gap-[18px] self-stretch">
                <div *ngIf="paquetes.length === 0">
                    <p class="font-light text-center text-[24px]">No hay paquetes en el pedido</p>
                </div>
                <!-- row -->
                <app-spinner [mostrarSpinner]="mostrarSpinner"></app-spinner>
                <div class="flex py-0 px-[10px] justify-between items-center self-stretch"
                    *ngFor="let paquete of paquetes">
                    <!-- cell -->
                    <div class="flex w-[130px] justify-center items-start gap-[10px]">
                        <p class="text-[24px] font-semibold text-[#717171]">
                            {{paquete.producto.gramaje.gramaje}} gr</p>
                    </div>
                    <div class="flex w-[130px] justify-center items-start gap-[10px]">
                        <p class="text-[24px] font-semibold text-[#717171]">{{paquete.cantidad}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Detalles -->
        <div class="max-w-xs self-stretch py-[50px] px-[10px]" *ngIf="pedido">
            <!-- Header -->
            <div>
                <div>
                    <h1 class="capitalize font-semibold text-[32px]">Detalles</h1>
                </div>
            </div>
            <!-- Content -->
            <div>
                <p class="font-light text-[20px]">{{pedido.detalles}}</p>
            </div>
        </div>
        <hr class="h-full border-[1px] border-white">
        <!-- info -->
        <div class="flex w-[539px] h-[727px] py-[39px] px-0 flex-col justify-between items-end">
            <div *ngIf="pedido">
                <app-informacion-pedido [codigoRastreo]="pedido.codigoRastreo" [tienda]="pedido.tienda"
                    [repartidor]="pedido.repartidor" [tortilleria]="pedido.tortilleria"></app-informacion-pedido>
            </div>
            <!-- buttons -->
            <div *ngIf="pedido" class="flex h-[96px] justify-center items-center gap-[23px] shrink-0">
                <button type="button" (click)="cancelarPedido(pedido.id)"
                    class="flex py-[10px] px-[30px] text-center text-[32px] capitalize rounded-[5px] items-center gap-[10px] border-[1px] border-[#E01C1C] text-[#E01C1C] hover:bg-[#E01C1C] hover:text-blanco">
                    Cancelar
                </button>
                <button type="button" (click)="finalizarPedido(pedido.id)"
                    class="flex py-[10px] px-[30px] text-center text-[32px] capitalize rounded-[5px] items-center gap-[10px] text-primary border-[1px] border-primary hover:bg-primary hover:text-blanco">
                    Finalizar
                </button>
            </div>
        </div>
    </div>
</div>