<div class="flex min-w-[230px] max-w-[230px] justify-center items-center gap-[10px] self-stretch">
    <p class="text-2xl font-light">{{pedido.codigoRastreo}}</p>
</div>
<div class="flex min-w-[230px] max-w-[230px] justify-center items-center gap-[10px] self-stretch">
    <p class="text-2xl font-light">{{pedido.tienda.nombre}}</p>
</div>
<div class="flex min-w-[230px] max-w-[230px] justify-center items-center gap-[10px] self-stretch">
    <p class="text-2xl font-light">{{pedido.fechaHoraCreacion}}</p>
</div>